*{
    margin: 0;
    padding: 0;
}
#mydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
  }
  
  h1{
    width: 450px;
    text-align: center;
    color: white;
    font-size: 40px;
  }
  p{
    text-align: center;
    color: white;
  }
  .logo{
    margin-top: 70px;
    font-size: 25px;
  }
  .pnglogo{
    width: 150px;
    height: 50px;
    /* text-align: center; */
    margin-top: 20px;
    position: relative;
    top: 70%;
    left: 32%;
    
  }